body {
    margin: 0;
}

.our-services .our-left,
.our-services .our-raght {

}

.our-services .our-left {
    margin-top: 60px;
    margin-left: 200px;
    color: red;
    display: flex;
}

.our-services .our-raght {
    margin-left: 50%;
    /*margin-top: 60px;*/
}

.our-services .our-raght .fabulous-weddings,
.our-services .our-raght .birthday-parties,
.our-services .our-raght .shagun-ceremony,
.our-services .our-raght .view-all {
    margin-bottom: 60px;
    display: flex;

}

.our-services .our-raght .text-1 {
    margin-left: 60px;
}

.our-services .our-raght .fabulous-weddings {

}

.our-services .our-raght .birthday-parties {
}

.our-services .our-raght .shagun-ceremony {
}

.our-services .our-raght .roy {
    border: solid 1px black;
    display: flex;
    margin-bottom: 60px;
}


.our-services .our-raght .view-all{
}

.about {
    width: 100%;
    height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.about .container {
    max-width: 1200px;
    width: 100%;
    height: 90%;
    display: flex;
}

.about .container .col-left,
.about .container .col-right {
    width: 50%;
    height: 100%;
}

.about .container .col-left .title {
    margin-left: 200px;
    margin-top: 100px;
    color: red;
}

.about .container .col-right {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 0px;
}

.about .container .col-right .button,
.our-services .our-raght .button {
    border: solid goldenrod 1px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .container .col-right .stick,
.our-services .our-raght .stick {
    height: 100px;
    width: 50px;
    border-right: solid black 1px;
    margin-bottom: 50px;
}

.about .container .col-right .text {
    margin-bottom: 50px;
}



























